.ansible
/.deployed_cache
/.git
_build-*/**
_build_*
cosign.key
output
/fedora-bootc-niri/mkosi.cache
/fedora-bootc-niri/mkosi.output
/fedora-bootc-niri/.mkosi-private
/fedora-bootc-niri/cache
/fedora-bootc-niri/mkosi.tools
/fedora-bootc-niri/mkosi.tools.manifest
/fedora-bootc-niri/mkosi.version
/fedora-bootc-niri/mkosi.extra/usr/share/ujust
/fedora-bootc-niri/mkosi.extra/usr/share/factory/dotfiles-repo
