[Unit]
Description=ujust First Boot Setup
After=systemd-user-sessions.service
ConditionPathExists=!/var/lib/ujust-firstboot

[Service]
Type=oneshot
ExecStart=/usr/bin/ujust-firstboot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
