// Include dms files
include "dms/alttab.kdl"
include "dms/colors.kdl"
include "dms/cursor.kdl"
include "dms/layout.kdl"
include "dms/outputs.kdl"

// Include override files
include "override/animations.kdl"
include "override/binds.kdl"
include "override/gestures.kdl"
include "override/input.kdl"
include "override/layout.kdl"
include "override/misc.kdl"
include "override/rules.kdl"

// Niri flavor
// include "misc/dms.kdl" // DMS
include "misc/nodms.kdl" // DMS
