window-rule {
    clip-to-geometry true
    draw-border-with-background false
    geometry-corner-radius 10
    tiled-state true
}

window-rule {
    match app-id=r#"org.quickshell$"#
    open-floating true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"firefox$"# title=r#"E-Mail "#
    match app-id=r#"firefox$"# title=r#"Rainbow "#

    block-out-from "screencast"
}

window-rule {
    match app-id=r#"firefox$"# title=r#"E-Mail "#
    match app-id="Apache Directory Studio"
    match app-id="dev.zed.Zed"
    match app-id="kitty"

    scroll-factor 2
}
