{{ if ne .chezmoi.username "root" -}}
#!/usr/bin/env bash
set -euo pipefail

if ! command -v dconf >/dev/null 2>&1; then
    exit 0
fi

# Requires a running user dbus session
if [[ -z "${XDG_RUNTIME_DIR:-}" ]] || [[ ! -S "${XDG_RUNTIME_DIR}/bus" ]]; then
    exit 0
fi

DCONF_SETTINGS="${HOME}/.local/share/gnome-settings/dconf.ini"
if [[ ! -f "${DCONF_SETTINGS}" ]]; then
    exit 0
fi

dconf load / < "${DCONF_SETTINGS}"
{{ end -}}
