window-rule {
    match app-id=r#"org.quickshell$"#
    open-floating true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"firefox$"# title=r#"E-Mail "#
    match app-id=r#"firefox$"# title=r#"Rainbow "#

    block-out-from "screencast"

    border {
        //active-color "red"
    }
}

window-rule {
    match app-id=r#"firefox$"# title=r#"E-Mail "#
    match app-id="Apache Directory Studio"
    match app-id="dev.zed.Zed"
    match app-id="kitty"

    scroll-factor 2
}
