include "dms/colors.kdl"

// Niri flavor
{{- if or (eq (env "CHEZMOI_ENABLE_DMS") "1") (index . "enable_dms") }}
include "misc/dms.kdl" // DMS
// include "misc/nodms.kdl" // DMS
{{- else }}
// include "misc/dms.kdl" // DMS
include "misc/nodms.kdl" // DMS
{{- end }}

// Include common files
include "common/animations.kdl"
include "common/binds.kdl"
include "common/gestures.kdl"
include "common/input.kdl"
include "common/misc.kdl"
include "common/cursor.kdl"
include "common/outputs.kdl"
include "common/rules.kdl"

// Workaround (doesnt work when included as file (conflict with color.kdl))
layout {
    gaps 5
    center-focused-column "on-overflow"
    always-center-single-column
    empty-workspace-above-first
    default-column-display "normal"

    default-column-width { proportion 0.5; }
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    focus-ring {
        off
        width 3
    }

    border {
        width 3
    }

    shadow {
        on
    }

    tab-indicator {
        place-within-column
        gap 5
        width 5
        length total-proportion=0.5
        position "left"
        gaps-between-tabs 2
        corner-radius 8
    }

    struts {
        left 3
        right 3
        top 3
        bottom 3
    }
}

recent-windows {
    highlight {
        corner-radius 10
    }
}
